<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TextControl" value="https://www.textcontrol.com/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="TXTextControl.AI" />
      <package pattern="TXTextControl.AI.*" />
      <package pattern="TXTextControl.AI.McpServer" />
      <package pattern="TXTextControl.Markdown.Core" />
    </packageSource>
    <packageSource key="TextControl"><package pattern="TXTextControl.*" /></packageSource>
  </packageSourceMapping>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
